.custom-card-content {
  padding-bottom: 10px !important;
}

.custom-chip {
  background-color: #23bbea !important;
  color: #fff !important;
  margin-bottom: 25px !important;
}

.category-chip {
  display: flex !important;
  align-self: stretch;
  justify-content: center;
}

.date-chip {
  font-size: 1rem !important;
  line-height: 42px !important;
  height: 40px !important;
  font-weight: bold !important;
}

.custom-divider {
  margin: 25px 0px;
}
