@import "../../components/navbar/Navbar.scss";
@import "../../components/dashboard/Dashboard.scss";
@import "../../components/activity_list/ActivityList.scss";
@import "../../components/activity_details/ActivityDetails.scss";
@import "../../components/modal/Modal.scss";
@import "../../components/home/Home.scss";

* {
  font-family: "Roboto", sans-serif;
}

.mt-25 {
  margin-top: 25px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.btn-wide {
  width: 100%;
}

.btn-custom {
  color: #5ba0ea !important;
  background-color: #fff !important;
  font-weight: bold;
}

.bold-text {
  font-weight: bold;
}
