@import "../scss/mixins";
@import "../../components/navbar/Navbar.scss";
@import "../../components/dashboard/Dashboard.scss";
@import "../../components/activity_list/ActivityList.scss";
@import "../../components/activity_details/ActivityDetails.scss";
@import "../../components/modal/Modal.scss";
@import "../../components/activity_list_item/ActivityListItem.scss";
@import "../../components/activity_details/header/Header.scss";
@import "../../components//activity_details/chat/Chat.scss";
@import "../../components/activity_details/sidebar/Sidebar.scss";
@import "../../components/home/Home.scss";
@import "../../components/not_found/NotFound.scss";
@import "../../components/create_activity/CreateActivity.scss";
@import "../../components/datepicker/Datepicker.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* This prevents padding and borders being added to the elements specified height/width */
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* Some users will increase the default font-size of their browser */
  /* This is a responsive way to account for these users instead of hardcoding 10px */
  // Largest to Smallest Order is Important or Multiple Max-Width Queries will Apply
  box-sizing: border-box;
  font-size: 62.5%;

  @include responsive(tablet_landscape) {
    font-size: 70%;
  }

  @include responsive(tablet_portrait) {
    font-size: 60%;
  }

  @include responsive(phone) {
    font-size: 50%;
  }

  @include responsive(large_desktop) {
    font-size: 80%;
  }
}

.mt-25 {
  margin-top: 2.5rem !important;
}

.mt-50 {
  margin-top: 5rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.btn-wide {
  width: 100%;
}

.btn-custom {
  color: #5ba0ea !important;
  background-color: #fff !important;
  font-weight: bold;
}

.bold-text {
  font-weight: bold !important;
}

.flex {
  display: flex;
}

.stretch {
  align-self: stretch;
}

/* label focus color */
.custom-input-field input:focus + label {
  color: #5ba0ea !important;
  font-weight: bold !important;
}
/* label underline focus color */
.custom-input-field input:focus {
  border-bottom: 1px solid #5ba0ea !important;
  box-shadow: 0 1px 0 0 #5ba0ea !important;
}

/* label focus color */
.custom-input-field textarea:focus + label {
  color: #5ba0ea !important;
  font-weight: bold !important;
}
/* label underline focus color */
.custom-input-field textarea:focus {
  border-bottom: 1px solid #5ba0ea !important;
  box-shadow: 0 1px 0 0 #5ba0ea !important;
}
